@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="text-center">
            <img src="https://media.giphy.com/media/xUA7aT1vNqVWHPY1cA/giphy.gif" />

            <h3>We're going to have an exciting party!</h3>
            <br />
            <a asp-action="RsvpForm" class="btn btn-primary">RSVP Now</a>
            <br />
        </div>
    </div>
</body>
</html>



