@model string
@{ Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model! Welcome to MIS 333K! (from the view)
    </div>
</body>
</html>

