<head>
    <link href="~/css/about.css" rel="stylesheet" />
</head>
<div class="container-fluid px-0">
    <div class="jumbotron mb-0">
        <h1 class="font-weight-bold display-3 text-primary">About</h1>
    </div>
    <div class="section row">
        <div class="col-md-3 col-sm-12">
            <h2 class="font-weight-bold text-primary mb-md-2">Education</h2>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img class="univeristyImg img-fluid ml-auto" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/University_of_Texas_at_Austin_seal.svg/500px-University_of_Texas_at_Austin_seal.svg.png" />
                </div>
                <div class="col-lg-8 col-md-12">
                    <h4 class="font-weight-bold">The University of Texas at Austin</h4>
                    <h5 class="font-weight-bold">2018 - 2022</h5>
                    <p class="mb-0"><span class="font-weight-bold">Majors: </span>Business Honors, Management Information Systems</p>
                    <p class="mb-0"><span class="font-weight-bold">Minors: </span>Computer Science, Philosphy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section row bg-light" id="skillsTrigger">
        <div class="col-md-2 col-sm-12">
            <h2 class="font-weight-bold text-primary mb-md-2">Skills</h2>
        </div>
        <div class="col-md-10 col-sm-12 pl-5">
            <h5 class="font-weight-bold">Programming Languages</h5>
            
            <p class="mb-0 mt-2">HTML</p>
            <div class="skillbar" data-percent="90%">
                <div class="skillbar-bar html"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <p class="mb-0 mt-2">CSS</p>
            <div class="skillbar" data-percent="80%">
                <div class="skillbar-bar css"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <p class="mb-0 mt-2">JavaScript</p>
            <div class="skillbar" data-percent="80%">
                <div class="skillbar-bar js"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <p class="mb-0 mt-2">SQL</p>
            <div class="skillbar" data-percent="60%">
                <div class="skillbar-bar sql"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <h5 class="font-weight-bold">Frameworks</h5>
                    <ul>
                        <li>React</li>
                        <li>Angular</li>
                        <li>Svelte</li>
                        <li>Node.js</li>
                        <li>ASP.NET Core</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h5 class="font-weight-bold">Tools</h5>
                    <ul>
                        <li>Git</li>
                        <li>Bash</li>
                        <li>Puppeteer</li>
                        <li>Figma</li>
                        <li>Excel</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section row">
        <div class="col-md-2 col-sm-12">
            <h2 class="font-weight-bold text-primary mb-md-2">Experience</h2>
        </div>
        <div class="col-md-10 col-sm-12 pl-5">
            <div id="experience-timeline">
                <div data-date="January 2020 – Present">
                    <h3>Texas Product Engineering Organization</h3>
                    <h4>Product Lead</h4>
                    <p>
                        Create and lead curriculum to teach new 20+ Product Fellows the key technical, business, and design skills for product management. 
                    </p>
                </div>

                <div data-date="September 2019 – Present">
                    <h3>RISE</h3>
                    <h4>Curriculum Director</h4>
                    <p>
                      Create case studies and curriculum to teach high school students in underserved communities the fundamentals of business.
                    </p>
                </div>

                <div data-date="June 2020 – July 2020">
                    <h3>Dell Technologies</h3>
                    <h4>Technical Sales Intern</h4>
                    <p>
                        Worked in the edge computing team with a partner centric sales strategy to identify new sales opportunities and conduct market research.
                    </p>
                </div>
                <div data-date="January 2019 – May 2019">
                    <h3>The Office of United States Congressman Lloyd Doggett</h3>
                    <h4>General Intern</h4>
                    <p>
                        Worked in a multifaceted role by improving office efficiency, providing relevant information and analysis, and resolving constituent concerns.
                    </p>
                </div>

                <div data-date="October 2017 – August 2018">
                    <h3>The University of Texas Southwestern Medical Center</h3>
                    <h4>Software Engineering Intern</h4>
                    <p>
                        Worked in the Enterprise Data team to develop Orbit On-the-Go, a mobile app that allows doctors to easily and securely view crucial data.
                    </p>
                </div>

                <div data-date="June 2017 – August 2017">
                    <h3>Southwest Airlines</h3>
                    <h4>Supply Chain Intern</h4>
                    <p>
                        Worked in the Supply Chain Fuel Management team in a multifaceted role.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section row bg-light">
        <div class="col-md-2 col-sm-12">
            <h2 class="font-weight-bold text-primary mb-md-2">Hobbies</h2>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center text-center">
                    <img class="hobby-img img-fluid" alt="cooking" src="~/images/about/cooking.svg"/>
                    <p class="mt-2">Cooking</p>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center text-center">
                    <img class="hobby-img img-fluid" alt="gaming" src="~/images/about/gaming.svg" />
                    <p class="mt-2">Video Games</p>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center text-center">
                    <img class="hobby-img img-fluid" alt="hiking" src="~/images/about/hiking.svg" />
                    <p class="mt-2">Hiking</p>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center text-center">
                    <img class="hobby-img img-fluid" alt="teaching" src="~/images/about/teaching.svg" />
                    <p class="mt-2">Teaching</p>
                </div>
            </div>
        </div>
    </div>
</div>
