<head>
    <link href="~/css/portfolio.css" rel="stylesheet" />
</head>
<div class="container-fluid px-0">
    <div class="jumbotron mb-0">
        <h1 class="font-weight-bold display-3 text-primary">Portfolio</h1>
    </div>
    <div class="portfolio">

        <div class="row">
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/linkedinscraper.png" alt="LinkedinScraper" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">LinkedIn Scraper</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Developer</h3>
                                <p>
                                    A LinkedIn web scraper initially developed at Dell which generated over 2000+ sales leads and reduced lead generation time by 99%. Since leaving Dell, I have continued to maintain the application with plans to rewrite the user interface.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/linkedinscraper.png" alt="UT Bulletin" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">LinkedIn Scraper</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Developer</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                            <p>Link:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Summer 2020</p> <!--edit here-->
                                            <p>Javascript, Node.js, Puppeteer</p> <!--edit here-->
                                            <a target="_blank" href="https://github.com/wude935/linkedinscraper">
                                                <ion-icon name="logo-github"></ion-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    A LinkedIn web scraper initially developed at Dell which generated over 2000+ sales leads and reduced lead generation time by 99%. Since leaving Dell, I have continued to maintain the application with plans to rewrite the user interface.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup1" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/utbulletin.png" alt="UT Bulletin" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">UT Bulletin</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Developer</h3>
                                <p>
                                    A website developed at the Texas Product Engineering Organization that easily connects UT startups and founders with on-campus talent.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup1" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/utbulletin.png" alt="UT Bulletin" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">UT Bulletin</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Developer</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Summer 2020 - Present</p> <!--edit here-->
                                            <p>HTML, CSS, Javascript, React, AWS Lambda</p> <!--edit here-->
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    A website developed at the Texas Product Engineering Organization that easily connects UT startups and founders with on-campus talent.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup2" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/qrdr.png" alt="qrdr" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">Qrdr</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Founder, Developer</h3>
                                <p>
                                    A startup dedicated to making ordering at sit-down restaurants easier by creating a tableside QR-code ordering and payment web app.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup2" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/qrdr.png" alt="Qrdr" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">Qrdr</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Developer</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                            <p>Link:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Fall 2019 - Present</p> <!--edit here-->
                                            <p>Javascript, Node.js, Puppeteer</p> <!--edit here-->
                                            <a target="_blank" href="https://github.com/Qrdr/qrdr">
                                                <ion-icon name="logo-github"></ion-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    A startup dedicated to making ordering at sit-down restaurants easier by creating a tableside QR-code ordering and payment web app.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup3" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/doggettmaps.png" alt="Congressional Maps" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">Congressional Maps</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Creator</h3>
                                <p>
                                    As an intern for United States Congressman Lloyd Doggett, I pioneered new system of digitizing congressional maps using ArcGis Online to decrease map creation time by over 92%. The digital maps were used to contribute to future campaign efforts.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup3" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/doggettmaps.png" alt="Congressional Maps" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">Congressional Maps</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Creator</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Spring 2019</p> <!--edit here-->
                                            <p>ArcGis Online</p> <!--edit here-->
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    As an intern for United States Congressman Lloyd Doggett, I pioneered new system of digitizing congressional maps using ArcGis Online to decrease map creation time by over 92%. The digital maps were used to contribute to future campaign efforts.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup4" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/konanavision.png" alt="KonanaVision" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">KonanaVision</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Developer</h3>
                                <p>
                                    A mobile application that demonstrates the capabilities of augmented and virtual reality. The app was built over the course of a week in Spring 2019 for my final MIS 301H project.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup4" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/konanavision.png" alt="KonanaVision" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">KonanaVision</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Developer</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                            <p>Link:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Spring 2019</p> <!--edit here-->
                                            <p>Javascript, React Native</p> <!--edit here-->
                                            <a target="_blank" href="https://github.com/wude935/konanavision">
                                                <ion-icon name="logo-github"></ion-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    A mobile application that demonstrates the capabilities of augmented and virtual reality. The app was built over the course of a week in Spring 2019 for my final MIS 301H project.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup5" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/gdrivetest.png" alt="Google Drive Test" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">Google Drive Test</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Developer</h3>
                                <p>
                                    A mobile application that reads specific .xml files on your Google Drive and is powered by Expo and React Native. The app was built over the course of a week in Summer 2018 for me to learn and practice calling APIs.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup5" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/gdrivetest.png" alt="Google Drive Test" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">Google Drive Test</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Developer</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                            <p>Link:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Summer 2018</p> <!--edit here-->
                                            <p>Javascript, React Native</p> <!--edit here-->
                                            <a target="_blank" href="https://github.com/wude935/googledrivetest">
                                                <ion-icon name="logo-github"></ion-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    A mobile application that reads specific .xml files on your Google Drive and is powered by Expo and React Native. The app was built over the course of a week in Summer 2018 for me to learn and practice calling APIs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Portfolio Item-->
            <div class="col-md-6 col-sm-12 p-0">
                <div id="inline-popups">
                    <a href="#test-popup6" data-effect="mfp-zoom-out">
                        <div class="hovereffect">
                            <img src="~/images/portfolio/orbitotg.png" alt="Orbit On the Go" class="img-responsive"> <!--edit image-->
                            <div class="overlay">
                                <h2 class="font-weight-bold mb-0 text-white">Orbit On-the-Go</h2> <!--your project title-->
                                <h3 class="font-weight-bold text-white mb3">Developer</h3>
                                <p>
                                    A mobile app developed The University of Texas Southwestern Medical School that allows doctors to easily and securely view crucial data. 
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="test-popup6" class="white-popup mfp-with-anim mfp-hide">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/orbitotg.png" alt="Orbit On the Go" class="img-fluid"> <!--edit image-->
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div>
                                <h3 class="font-weight-bold mb-0 text-primary">Orbit On-the-Go</h3> <!--your project title-->
                                <h4 class="font-weight-bold">Developer</h4>
                                <div class="portfolio-text-details">
                                    <div class="row">
                                        <div class="col-2 font-weight-bold">
                                            <p>Date:</p>
                                            <p>Tech:</p>
                                        </div>
                                        <div class="col-10">
                                            <p>Fall 2017 - Summer 2018</p> <!--edit here-->
                                            <p>Javascript, React Native</p> <!--edit here-->
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2">
                                    A mobile app developed The University of Texas Southwestern Medical School that allows doctors to easily and securely view crucial data.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end portfolio grid -->
        </div>
    </div>
</div>
