@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<a asp-controller="Products" asp-action="Index" class="btn btn-success">View Products</a>
