@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">

    <h2>Select an Order Type</h2>

    <a class="btn btn-info" asp-controller="Home" asp-action="CheckoutWalkup">Walkup Order</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="CheckoutWholesale">Wholesale Order</a>

</div>